<!doctype html>
<html lang="en" ng-app="pretenders">

    <head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pretenders {% block extratitle %}{% endblock %}</title>
        <style>
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
            .ng-cloak, .x-ng-cloak {
                display: none;
            }
        </style>
        <!-- Bootstrap: -->
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
        <style>
        @media (min-width: 980px) {
            #content {
                padding-top: 60px; /* make space for the fixed top navbar */
            }
        }
        </style>
        <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/app.css">
        {% block extrahead %}
        {% endblock %}
    {% endblock %}
    </head>

    <body ng-cloak>
        <div id="wrap">
            <header>
                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container-fluid">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="brand" href="#">Pretenders</a>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li><a href="#/http">HTTP Mocks</a></li>
                                <li><a href="#/smtp">SMTP Mocks</a></li>
                            </ul>

                        </div><!--/.nav-collapse -->
                        </div>
                    </div>
                </nav>
            </header>

            {# Main area where angular views will display #}
            <section id="content" class="container-fluid" ng-view>
                {% block content %}{% endblock %}
            </section>

            <div id="push"></div>
        </div>
        <footer id="footer">
            <div class="container-fluid">
            <p class="muted">Produced by <a href="http://github.com/pretenders/">Pretenders</a>.</p>
            <p><small>&copy; 2013 Alex Couper and Carles Barrob&eacute;s.</small></p>
            </div>
        </footer>

        <!-- Bootstrap { -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <!-- } -->
        {% block scripts %}{% endblock %}
    </body>

</html>
